@import '../../variables.scss';

.Footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;

    padding: 15px 0;

    &Link {
        display: flex;
        align-items: center;
        justify-content: center;

        color: $color-sub;
        font-family: $font-sometype;
        font-weight: 600;
        text-decoration: none;

        transition: all .15s linear;
        
        &Wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 5px;

            transition: all .15s linear;

            &:hover {
                opacity: 0.8;
            }
        }

        &Icon {
            width: 20px;
            height: 20px;
        }
    }
}