//Fonts
@import url('https://fonts.googleapis.com/css2?family=Sometype+Mono:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

$font-sometype: 'Sometype Mono', monospace;

//Colors
$color-main: #b90504;
$color-error: #990100;
$color-bg-main: #f6f6f6;
$color-bg-sub: #e8e8e8;
$color-sub: #333333;